.fill-handle {
  background-color: #666;
  border: 1px solid #333;
  border-radius: 50%;
  pointer-events: auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.fill-handle:hover {
  background-color: #888;
  border-color: #555;
}

.fill-handle:active {
  background-color: #444;
  border-color: #222;
}
